/* 这个文件是基本的样式控制文件
 * 创建日期：2013年6月
 * 最后更新日期：2013年6月14日
 * 作者：班玉都
 */
div.head{
    background-color:darkgreen;
    text-align:center;
    color:white;
    font-size:32px;
}

div.mainbody{
    margin:10px 15%; /* 上边距和下边距都是10px，左右边距都是15% */
    border-style:none double;
    border-color:grey;
    border-width:solid;
}

